<!doctype html>
<html lang="en">

<head>

    <title>Calorie Tracker Coding Assignment - User List</title>
    
</head>

<body>
    
    <div>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <img src="assets/img/logo.png">
                    </a>
                </div>
            </div>
        </header>
        <div class="mid-container">
            <div class="container">
                <div class="title-row">
                    <h1 class="title">User List</h1>
                </div>
                <div class="user-list">
                    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                        <thead>
                            <tr>
                                <th scope="col" class="name">Name</th>
                                <th scope="col" class="weight">Weight (kg)</th>
                                <th scope="col" class="height">Height (cm)</th>
                                <th scope="col" class="gender">Gender</th>
                                <th scope="col" class="age">Age</th>
                                <th scope="col" class="bmr">BMR</th>
                                <th scope="col" class="action">Action</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <th scope="row">{{user.name}}</th>
                                <td data-label="Weight">{{user.weight}}</td>
                                <td data-label="Height">{{user.height}}</td>
                                <td data-label="Gender">{{user.gender}}</td>
                                <td data-label="Age">{{user.age}}</td>
                                <td data-label="BMR">
                                   {{
  (user.gender.toLowerCase() === 'male'
    ? (66.4730 + (13.7516 * +user.weight) + (5.0033 * +user.height) - (6.7550 * +user.age))
    : (655.0955 + (9.5634 * +user.weight) + (1.8496 * +user.height) - (4.6756 * +user.age))
  ) | number:'1.0-0'
}}

                                      
                                  </td>
                                <td data-label="Action">
                                    <div class="btn-set">
          
              
               <a 
               class="btn btn-secondary" 
               [class.disabled]="loadingUserId === user.id" 
               (click)="onViewClick(user.id)">
               {{ loadingUserId === user.id ? 'Loading...' : 'View' }}
             </a>
             
               
             <button 
  class="btn-primary add-data-btn" 
  data-toggle="modal" 
  data-target="#addDataModal"
  (click)="onSelectUser(user)"  
  [disabled]="loadingAddDataUserId === user.id"
>
  {{ loadingAddDataUserId === user.id ? 'Loading...' : 'Add Data' }}
</button>

                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>2022 LMD Consulting, LLC , All Rights Reserved</p>
            </div>
        </footer>
    </div>
    <!-- Modal Box Start -->
    <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content add-data-modal">
                <div class="modal-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="food-tab" data-toggle="tab" href="#food" role="tab"
                                aria-controls="food" aria-selected="true">Add Food</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab"
                                aria-controls="activity" aria-selected="false">Add Activity</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="food" role="tabpanel" aria-labelledby="food-tab">
                            <div class="input-field">
                                <label>Select Date</label>
                                <input type="date" [(ngModel)]="foodData.date">
                            </div>
<!-- Food Group Dropdown -->
<div class="input-field">
    <label>Select Food Group</label>
    <select class="selectbox" [(ngModel)]="foodData.foodGroup" (change)="onFoodGroupChange()">
      <option *ngFor="let group of uniqueFoodGroups" [value]="group">{{ group }}</option>
    </select>
  </div>
  
  <!-- Food Name Dropdown (Visibly disabled until Food Group is selected) -->
  <div class="input-field">
    <label>Select Food Name</label>
    <select class="selectbox" [(ngModel)]="foodData.foodId" (change)="onFoodChange()" [disabled]="!foodData.foodGroup">
      <option *ngIf="!foodData.foodGroup" value="" disabled selected>Please select a Food Group first</option>
      <option *ngFor="let food of filteredFoodList" [value]="food._id">
        {{ food.foodName }}
      </option>
    </select>
  </div>
  
  <!-- Meal Type -->
  <div class="input-field">
    <label>Select Meal Type</label>
    <select class="selectbox" [(ngModel)]="foodData.mealType">
      <option>Breakfast</option>
      <option>Lunch</option>
      <option>Dinner</option>
    </select>
  </div>
  
                            <div class="input-field">
                                <label>Serving</label>
                                <input type="text" placeholder="Serving" [(ngModel)]="foodData.portion"/>
                            </div>
                            <div class="input-field input-field-btn btn-set--center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitLog('food')">Save</button>
                              </div>
                                                       
                        </div>
                        <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                            <div class="input-field">
                                <label>Select Date</label>
                                <input type="date" [(ngModel)]="activityData.date">
                            </div>
                            <div class="input-field">
                                <label>Activity Name</label>
                                <select class="selectbox" [(ngModel)]="activityData.activityId" (change)="onActivityChange()">
                                  <option *ngFor="let activity of activityList" [value]="activity._id">
                                    {{ activity.activityName }}
                                  </option>
                                </select>
                              </div>
                              
                              
                            <div class="input-field">
                                <label>Activity Description</label>
                                <textarea placeholder="Description" [(ngModel)]="activityData.description"></textarea>
                            </div>
                            <div class="input-field">
                                <label>MET Value</label>
                                <input type="text" value="" placeholder="Value" [(ngModel)]="activityData.METvalue" disabled>
                            </div>
                            <div class="input-field">
                                <label>Activity Duration</label>
                                <input type="time" [(ngModel)]="activityData.duration">
                            </div>
                            <div class="input-field input-field-btn btn-set--center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="submitLog('activity')">Save</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Box End -->
</body>
</html>