<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Calorie Tracker Coding Assignment - User List</title>
    
</head>

<body>
    <div>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <img src="assets/img/logo.png">
                    </a>
                </div>
            </div>
        </header>
        <div class="mid-container">
            <div class="container">
                <div class="title-row">
                    <h1 class="title">User List</h1>
                </div>
                <div class="user-list">
                    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                        <thead>
                            <tr>
                                <th scope="col" class="name">Name</th>
                                <th scope="col" class="weight">Weight</th>
                                <th scope="col" class="height">Height</th>
                                <th scope="col" class="gender">Gender</th>
                                <th scope="col" class="age">Age</th>
                                <th scope="col" class="bmr">BMR</th>
                                <th scope="col" class="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <th scope="row">{{user.name}}</th>
                                <td data-label="Weight">{{user.weight}}</td>
                                <td data-label="Height">{{user.height}}</td>
                                <td data-label="Gender">{{user.gender}}</td>
                                <td data-label="Age">{{user.age}}</td>
                                <th scope="col">1535.245</th>
                                <td data-label="Action">
                                    <div class="btn-set">
               <a class="btn btn-secondary" [routerLink]="['/user-data', user._id]">View</a>
                                        <button class="btn-primary add-data-btn" data-toggle="modal"
                                            data-target="#addDataModal">Add Data</button>
                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p>2022 LMD Consulting, LLC , All Rights Reserved</p>
            </div>
        </footer>
    </div>
    <!-- Modal Box Start -->
    <div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content add-data-modal">
                <div class="modal-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="food-tab" data-toggle="tab" href="#food" role="tab"
                                aria-controls="food" aria-selected="true">Add Food</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab"
                                aria-controls="activity" aria-selected="false">Add Activity</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="food" role="tabpanel" aria-labelledby="food-tab">
                            <div class="input-field">
                                <label>Select Date</label>
                                <input type="date" [(ngModel)]="foodData.date">
                            </div>

                            <div class="input-field">
                                <label>Select Food Name</label>
                                <select class="selectbox"[(ngModel)]="foodData.foodName">
                                    <option>Beans</option>
                                    <option>Vegetable</option>
                                    <option>Fast Food</option>
                                    <option>fruits</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label>Select Meal Type</label>
                                <select class="selectbox" [(ngModel)]="foodData.mealType">
                                    <option>Breakfast</option>
                                    <option>Lunch</option>
                                    <option>Dinner</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Select Food Group</label>
                                <select class="selectbox" [(ngModel)]="foodData.foodGroup">
                                    <option>Beans</option>
                                    <option>Vegetable</option>
                                    <option>Fast Food</option>
                                    <option>fruits</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label>Serving</label>
                                <input type="text" placeholder="Serving" [(ngModel)]="foodData.portion"/>
                            </div>
                            <div class="input-field input-field-btn btn-set--center">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
   <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSaveFood()">Save</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                            <div class="input-field">
                                <label>Select Date</label>
                                <input type="date" [(ngModel)]="activityData.date">
                            </div>
                            <div class="input-field">
                                <label>Activity Name</label>
                                <select class="selectbox" [(ngModel)]="activityData.activityName">
                                    <option>Bicycling</option>
                                    <option>Mountain</option>
                                    <option>Racing</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label>Activity Description</label>
                                <textarea placeholder="Description" [(ngModel)]="activityData.description"></textarea>
                            </div>
                            <div class="input-field">
                                <label>MET Value</label>
                                <input type="text" value="" placeholder="Value" [(ngModel)]="activityData.METvalue">
                            </div>
                            <div class="input-field">
                                <label>Activity Duration</label>
                                <input type="time" [(ngModel)]="activityData.duration">
                            </div>
                            <div class="input-field input-field-btn btn-set--center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="onSaveActivity()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet />
    <!-- Modal Box End -->
</body>
</html>